#!/bin/bash

# {{ include "brew/Brewfile" | sha256sum }}

{{ if not findExecutable "brew" }}
    echo "Homebrew not found, skipping brew bundle"
    exit 0
{{ end }}

echo "Updating brew"
brew update

echo "Install brew packages"
brew bundle --file="{{ .chezmoi.sourceDir }}/brew/Brewfile"