#!/bin/bash

# Brewfile hash: {{ include "brew/Brewfile" | sha256sum }}

{{ if stat "/home/linuxbrew/.linuxbrew/bin/brew" }}
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

  brew update
  brew bundle --file="{{ .chezmoi.sourceDir }}/brew/Brewfile"
{{ end }}