#!/bin/bash

# {{ include "brew/Brewfile" | sha256sum }}

{{ if not (stat "/home/linuxbrew/.linuxbrew/bin/brew") }}
  echo "Homebrew not found, skipping brew bundle"
  exit 0
{{ end }}

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

echo "Updating brew"
brew update

echo "Install brew packages"
brew bundle --file="{{ .chezmoi.sourceDir }}/brew/Brewfile"