#!/bin/bash

# {{ include "brew/Brewfile" | sha256sum }}
if ! command -v brew &> /dev/null
then
    echo "Homebrew not found, skipping brew bundle"
    exit 0
fi

echo "Updating brew"
brew update

echo "Install brew packages"
brew bundle --file="{{ .chezmoi.sourceDir }}/brew/Brewfile"