#!/bin/bash 

# {{ include "ptyxis/ptyxis.conf" | sha256sum }}

{{ if or (stat "/.dockerenv") (stat "/run/.containerenv") }}
  echo "Container detected; skipping ptyxis config loading"
  exit 0
{{ end }}

echo "Loading Ptyxis config"
dconf load /org/gnome/Ptyxis/ < "{{ .chezmoi.sourceDir }}/ptyxis/ptyxis.conf"